@model MissionPageVM
@{
    ViewData["Title"] = "AssignTask";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

@section Css {

    <style>
        .container {
            max-width: 100%;
            margin: 0 auto;
            display: flex;
        }

        .row {
            display: flex;
            flex-wrap: wrap;
            width: 100%; /* Row genişliğini tam ekran yapın */
        }

        .col-6 {
            flex: 0 0 50%;
            max-width: 50%;
        }

        /* İsteğe bağlı diğer stil ayarlamaları */
        .box {
            margin: 10px;
            padding: 20px;
            border: 1px solid #ccc;
            border-radius: 10px;
            box-shadow: 0 2px 5px rgba(0,0,0,0.1);
        }

        .box-header {
            margin-bottom: 20px;
        }

        .ti-custom-table {
            width: 100%;
        }

    </style>

}
<div class="content">
    <!-- Start::main-content -->
    <div class="main-content">
        <!-- Page Header -->
        <div class="block justify-between page-header sm:flex">
            <div>
                @if (ViewBag.InstitutionName !=null)
                {
                    <h3 class="text-2xl font-medium">@ViewBag.InstitutionName Görevleri </h3>
                }
                else
                {
                    <h3 class="text-2xl font-medium">Görevler Sayfası</h3>

                }

               
                
            </div>
            <!-- Your breadcrumb or other elements -->
        </div>
        <!-- Page Header Close -->
        <div class="box">
            <div class="box-header">
                <h5 class="box-title"></h5>
            </div>
            <div class="box-body">
                @if (Model != null && Model.Missions.Any())
                {
                    <div class="overflow-auto">
                        <table class="ti-custom-table">
                            <thead>
                                <tr>
                                    <th scope="col">Hangi sayfa için</th>
                                    <th scope="col">Sayfanın içeriği</th>
                                    <th scope="col">Durum</th>
                                    <th scope="col">Oluşturulma Tarihi</th>
                                    <th scope="col" class="!text-end">Action</th>
                                </tr>
                            </thead>
                            <tbody>
                                @foreach (var item in Model.Missions)
                                {
                                    <tr>
                                        <td class="font-medium">@item.CategoryName</td>
                                        <td>@item.MissionName</td>
                                        <td>@(item.Status != Project.ENTITIES.Enums.DataStatus.Deleted ? "Aktif" : "Pasif")</td>
                                        <td>@item.CreatedDate</td>
                                        <td class="!text-end">
                                            <a class="text-primary hover:text-primary" href="/Admin/Mission/CreatePage/@item.CategoryID">Görevi yap</a>
                                        </td>
                                    </tr>
                                }
                            </tbody>
                        </table>
                    </div>
                }
                else
                {
                    <h2 class="text-center">@ViewBag.EmptyUser <a href="/Authentication/signin">Giriş yapmak için tıklayınız.</a></h2>
                }
            </div>
        </div>
    </div>
    <!-- End::main-content -->

</div>

@section scripts {



}


